@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
.body {
    background-color: hsl(204, 43%, 93%);
}

.grid {
    display: grid;
    width: 50%;
    margin: auto;
    margin-top: 12rem;
}

.join-class {
    background-color: white;
    border-radius: 5px 5px 0 0;
}

.join-class p {
    font-size: 16px;
    width: 80%;
    font-weight: 300;
}

h3 {
    color: hsl(179, 62%, 43%);
    margin: 0 0 1.5rem 0 !important;
}

h4 {
    color: hsl(71, 73%, 54%);
    margin: 0 0 1rem 0 !important;
}

.monthly-class {
    background-color: hsl(179, 62%, 43%);
    border-radius: 0px 0 0 5px;
    color: white;
}

h6 {
    color: hsl(204, 43%, 93%);
    font-weight: 300 !important;
}

.monthly-class p {
    font-size: 16px;
    margin-top: 1rem;
}

.monthly-class h6,
h2 {
    display: inline;
}

.btn {
    background-color: hsl(71, 73%, 54%) !important;
    margin: auto !important;
    margin: 1rem 0 0 0 !important;
    box-shadow: none !important;
    width: 17rem !important;
    height: 3.5rem !important;
    color: white !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}

.whyus-class {
    display: flex;
    flex-direction: column;
    background-color: hsl(179, 58%, 48%);
    color: hsl(204, 43%, 93%);
    border-radius: 0 0px 5px 0;
}

.whyus-class p {
    font-size: 16px;
    color: hsl(204, 43%, 93%);
    text-align: start;
    width: 85%;
}

.whyus-class h5 {
    margin: 0 0 1.5rem 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 600px) {
    .grid {
        width: 80%;
    }
    .join-class p {
        font-size: 16px;
        width: 100%;
    }
    .monthly-class h5 {
        margin: 0 0 1.5rem 0;
    }
    .monthly-class h2 {
        font-size: 2rem;
        margin: 0 0.5rem 0 0;
    }
    .monthly-class p {
        margin: 0.5rem 0 0 0;
    }
    .btn {
        margin: 1.5rem 0 -1rem 0 !important;
        width: 100% !important;
    }
    h4 {
        font-size: 16px !important;
    }
    h3 {
        font-size: 20px !important;
    }
    .whyus-class p {
        width: 80%;
    }
}